<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.archives.mapper.DownloadRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="downloadRecordResultMap" type="org.springblade.modules.archives.entity.DownloadRecordEntity">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="file_id" property="fileId"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectDownloadRecordPage" resultMap="downloadRecordResultMap">
        select * from xy_download_record where is_deleted = 0
    </select>
    <select id="limitEnable" resultType="java.lang.Long">

        select count(distinct file_id)
        from xy_download_record
        where is_deleted = 0
          and create_time > #{time}
          and code = #{code}
          and file_id != #{fileId}
          and type = 1
    </select>


</mapper>
