<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.archives.mapper.FileDirectoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="fileDirectoryResultMap" type="org.springblade.modules.archives.vo.FileDirectoryVO">
        <result column="id" property="id"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectFileDirectoryPage" resultMap="fileDirectoryResultMap">
        select * from xy_file_directory where is_deleted = 0
    </select>
    <select id="directory" resultMap="fileDirectoryResultMap">

        select fd.* from xy_file_directory fd left join xy_file f on f.type = #{fileDirectoryVO.type} and fd.id =
        f.directory_id
        where f.is_deleted = 0 and fd.is_deleted = 0
        <if test="fileDirectoryVO.name != null and fileDirectoryVO.name != ''">

            and (fd.name like concat(#{fileDirectoryVO.name}, '%') or f.name like concat(#{fileDirectoryVO.name}, '%') )
        </if>
        order by fd.name
    </select>
    <select id="directoryWithoutName" resultType="org.springblade.modules.archives.vo.FileDirectoryVO">

        select *
        from xy_file_directory
        where is_deleted = 0
          and type = #{fileDirectoryVO.type}
        order by name
    </select>


</mapper>
