<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.archives.mapper.FileMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="fileResultMap" type="org.springblade.modules.archives.entity.FileEntity">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="directory_id" property="directoryId"/>
        <result column="url" property="url"/>
        <result column="preview" property="preview"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>


    <select id="selectFilePage" resultMap="fileResultMap">
        select * from xy_file where is_deleted = 0
    </select>


</mapper>
